{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    {{ form.csrf_token }}

    <!-- Username -->
    {{ form.username.label }} {{ form.username(size=20) }}
    {% if form.username.errors %}
      <ul class="errors">
      {% for error in form.username.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    <!-- Password -->
    {{ form.password.label }} {{ form.password(size=20) }}
    {% if form.password.errors %}
      <ul class="errors">
      {% for error in form.password.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    <!-- Submit button -->
    <input type="submit" value="Register">
  </form>
{% endblock %}